<div class="backdrop">
  <div class="header">
    <h1>thirsty<span class="lightgrey">foryour</span>smile</h1>
    <h2>a cassette label</h2>
  </div>
  <div class="page-links-container">
    <div class="home-link"><h3>about</h3></div>
    <div class="home-link"><h3>releases</h3></div>
    <div class="home-link"><h3>artists</h3></div>
    <div class="home-link"><h3>features</h3></div>
  </div>



</div>